<div class="row flex-column">
    <div class="col-4 align-self-center">
        <div style="height: 50vh; width:450px; border-radius: 15px 15px 15px 15px;" class="row login mt-5 mb-5">
            <div class="m-auto">
                <div class="row g-0 mt-0">
                    <div class="col-6 col-md-4 col-lg-4 col-xl-3 img">
                        <img src="../../../../assets/img/udm_logo.jpg"
                            class="img" alt="image">
                    </div>
                </div>
                <div class="content">
                    <div class="panel" id="login">
                        <h2 class="h3  text-center" style="color: rgb(25, 63, 25);">Connectez-vous à votre compte</h2>
                        <form action="/login" method="post" role="form" [formGroup]="form" (ngSubmit)="login()">
                            <input name="_csrf" type="hidden" value="6_PWxu4L9EoRpbhT5qmTncVczmwQAFVL74RzUiby2AI">
                            <div class="form-group">
                                <ng-container *ngIf="waitResponse==true">
                                    <div class="row mt-2">
                                        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                                    </div>
                                </ng-container>
                                <div class="row justify-content-center">
                                    <div class="col-8" style="color: {{color}};">{{responseText}}</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email">Adresse e-mail</label>
                                <input autofocus="true"
                                    [ngClass]="{ 'is-invalid': submitedForm && form.controls.email.errors }"
                                    class="form-control" id="email" name="email" formControlName="email"
                                    placeholder="Email address" type="email">
                                <div *ngIf="submitedForm && form.controls.email.invalid"
                                    class="invalid-feedback text-danger">
                                    <div *ngIf="form.controls.email.errors.required">Votre email est obligatoire</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password">Mot de passe</label>
                                <input matInput
                                    [ngClass]="{ 'is-invalid': submitedForm && form.controls.password.errors }"
                                    autocomplete="off" formControlName="password" class="form-control password"
                                    id="password" name="password" placeholder="Password" type="password">
                                <div *ngIf="submitedForm && form.controls.password.invalid"
                                    class="invalid-feedback text-danger">
                                    <div *ngIf="form.controls.password.errors.required">Votre mot de passe est
                                        obligatoire</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <ng-container *ngIf="waitResponse==false">
                                    <button class="btn btn-primary btn-lg btn-block" name="commit" type="submit"
                                        value="Log In">Connexion</button>
                                </ng-container>
                            </div>

                        </form><a class="panel-footer" href="/signup/login" style="color: black;">Nouveau pas de compte ?
                            &nbsp;<span style="color: green;"> <b> Envoyer mon dossier</b></span>.</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div>
</div>