  <div class="container mb-4 text-bold" style="color: white !important;">
    <div class="row justify-content-center">
        <div class=" col-12 col-lg-6 col-md-10"  style="background-color: rgb(9, 37, 9);">
            <span class="text-center">FICHE DE CANDIDATURE A L’ADMISSION
                ANNEE ACADEMIQUE 2021/2022 <br>
                </span>
        </div>
      </div>
      <div class="row justify-content-center text-center" >
          <div class="col-12 col-lg-5 col-md-8" style="background-color: rgb(9, 37, 9);">
            (Les admissions internes se font sur étude de dossiers)
          </div>
      </div>
  </div>
 <div class="row">
     <div class="col-12">
        <mat-horizontal-stepper (selectionChange)="changeSteppe($event)"   #stepper>
            <mat-step #stepInformationPersonnel [stepControl]="personnalDataFormGroup" editable>
                <ng-template matStepLabel>Etat civil</ng-template>
                <div class="content">
                  <app-infos-perso-inscription #informationPersonnelInscriptionComponent [form]="personnalDataFormGroup"></app-infos-perso-inscription>
                </div>
                <div class="float-end mt-3">
                    <button matStepperNext class="btn btn-lg btn-primary" (click)="validChangeSteppe(0)">Suivant <i class="bi bi-arrow-right"></i></button>
                  <!-- <button mat-button >Next</button> -->
                </div>
            </mat-step>
            <mat-step [stepControl]="qualificationFormGroup" label="Qualifications">
                <div class="content">
                  <app-qualifications-inscription #qualificationInscriptionComponent [form]="qualificationFormGroup"></app-qualifications-inscription>
                </div>
                <div class="mt-3">
                  <div class="float-end">
                    <button matStepperNext (click)="validChangeSteppe(1)" class="btn btn-lg btn-primary">Suivant <i class="bi bi-arrow-right"></i></button>
                  </div>
                  <div class="float-start">
                    <button matStepperPrevious class="btn btn-lg btn-secondary">Précédent <i class="bi bi-arrow-right"></i></button>
                  </div>
                </div>
            </mat-step>
            <mat-step [stepControl]="filiereFormationFormGroup" label="Filières de formations">
              <div class="content">
                <app-filiere-formation-inscription [form]="filiereFormationFormGroup" #filiereFormationComponent></app-filiere-formation-inscription>
              </div>
              <div class="mt-3">
                <div class="float-end">
                  <button matStepperNext (click)="validChangeSteppe(2)" class="btn btn-lg btn-primary">Suivant <i class="bi bi-arrow-right"></i></button>
                </div>
                <div class="float-start">
                  <button matStepperPrevious class="btn btn-lg btn-secondary">Précédent <i class="bi bi-arrow-right"></i></button>
                </div>
              </div>
          </mat-step>
            <mat-step>
              <ng-template matStepLabel>Terminé</ng-template>
              <div class="content">
                <app-form-adminssion-final #formadmissionfinal [submitedForm]="submitedForm" [etudiant]="candidat" [dossier]="dossier" [form]="finalFormGroup"></app-form-adminssion-final>
              </div>
              <div class="mt-3">
                <div class="float-end">
                  <button (click)="submit()" [disabled]="canSubmitedForm==false" class="btn btn-lg btn-success">Valider <i class="bi bi-arrow-right"></i></button>
                </div>
                <div class="float-start">
                  <button matStepperPrevious class="btn btn-lg btn-secondary">Précédent <i class="bi bi-arrow-right"></i></button>
                </div>
              </div>
            </mat-step>
          </mat-horizontal-stepper>
     </div>
 </div>

 <ng-template #modalTemplate>        
  <app-simple-loader [text]="popup_message"></app-simple-loader>
</ng-template>
  