<main class="content">
    <div class="container-fluid p-0">
        <h1 class="h3 mb-3"><strong>Liste des dossiers regetés</strong></h1>
        <hr style="color: green;">
        <div class="row">
            <div class="col-12 col-md-12 col-xxl-12 d-flex order-1 order-xxl-1">
                <div class="card flex-fill w-100">
                    <div class="card-header">

                        <h3 class="card-title mb-0">Sciences Médico-Sanitaires et Biomédicales </h3>
                    </div>
                    <form class="d-none d-sm-inline-block">
                        <div class="input-group input-group-navbar">
                            <input type="text" class="form-control" placeholder="Rechercher…" aria-label="Search">
                            <button class="btn" type="button">
                                <i class="align-middle" data-feather="search"></i>
                            </button>
                        </div>
                    </form>
                    <table class="table table-hover my-0">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Nom complet</th>
                                <th class="d-none d-xl-table-cell">Niveau</th>
                                <th class="d-none d-xl-table-cell">Nationnalité</th>
                                <th class="d-none d-md-table-cell">E-mail</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td>Aucun candidats</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>