<div class="container-fluid">
    <!-- About 1 -->
    <div class="row color-bg">
        <div class="col-md-6 nopadding features-intro-img">
            <div class="about-image" style="background-image:url(../../../../assets/img/fst.png) !important"></div>
            <!-- about image 1 -->
        </div>
        <div class="col-md-6 about-text">
            <h6>Faculté des Sciences et de Technologies</h6><!-- headline-->
            <!-- <p> -->
            <ul style="color: white;">
                <li>Informatique, Réseaux et Télécommunications </li>
                <li>Mathématiques et Informatique Appliquées à la Finance/Assurance</li>
                <li>Ingénierie BioMédicale </li>
                <li>Energies Renouvelables et Génie Climatique </li>
                <li>Génie Mécanique</li>
                <li>Génie Civil </li>
                <li>Architecture et Urbanisme </li>
            </ul>
            <!-- </p> -->
            <br><!-- About Text 1 -->
            <a href="https://www.udesmontagnes.aed-cm.org/faculte-des-sciences-et-de-technologies/" target="_blank" class="weight-outline-btn">En savoir plus</a>
            <!-- read more button  -->
        </div>
    </div>
    <!-- About 2 -->
    <div class="row">
        <div class="col-md-6 about-text" style="color: green !important;">
            <h6  style="color: green !important;">Faculté des Sciences de la santé</h6><!-- Headline -->
            <ul>
                <li>Médecine Vétérinaire</li>
                <li>Agronomie</li>
                <li>Biologie Médicale</li>
                <li>Agroforesterie</li>
                <li>Santé de la Reproduction</li>
                <li>Imagerie Médicale</li>
                <li>Kinésithérapie</li>
                <li>Sciences Infirmières</li>
            </ul>
            <br><!-- About Text 2 -->
            <a href="https://www.udesmontagnes.aed-cm.org/faculte-des-sciences-de-la-sante/" target="_blank" class="weight-outline-btn"  style="color: green !important;">En savoir plus</a>
            <!-- En savoir plus button  -->
        </div>
        <div class="col-md-6 nopadding features-intro-img">
            <div class="about-image" style="background-image:url(../../../../assets/img/fss.png)"></div>
            <!-- about image 2 -->
        </div>
    </div>
    <!-- About 3 -->
    <div class="row color-bg">
        <div class="col-md-6 nopadding features-intro-img">
            <div class="about-image" style="background-image:url(../../../../assets/img/iea.png)"></div>
            <!-- about image 3 -->
        </div>
        <div class="col-md-6 about-text" style="color: white !important;">
            <h6  style="color: white !important;">Institut d’Etudes Africaines, des Sciences Sociales et
                de Management</h6><!-- Headline-->
                <ul>
                    <li>Protection, valorisation et Promotion du Patrimoine Culturel Africain
                    </li>
                    <li>Tourisme</li>
                    <li>Management</li>

                </ul>
            <br><!-- About Text 3 -->
            <a href="https://www.udesmontagnes.aed-cm.org/institut-detudes-africaines-des-sciences-sociales-et-de-management/" target="_blanck" class="weight-outline-btn">En savoir plus</a>
            <!-- read more button  -->
        </div>
    </div>
</div>