<form [formGroup]="form" action="">
    <div class="row justify-content-center">
        <div class="col-3"><span style="font-style: italic;text-decoration: underline;">Finaliser votre inscription</span></div>
    </div>
   
    <div class="row mt-4 mb-4 container">
        <div class="col-12">
            <app-docs-forms [submitedForm]="submitedForm" [formValue]="formStructure"></app-docs-forms>
        </div>
    </div>
    <mat-divider></mat-divider>

        
    <form action="" [formGroup]="form">
        <div class="mt-3">
            <div class="row">
                <div class="col-10 col-md-10">
                    <label class="form-check">
                        <input class="form-check-input" formControlName="acceptVerificationDossier" matInput type="checkbox" >
                        <span class="form-check-label">
                            Je certifie que les informations que j’ai fournies à l’Université des Montagnes (UdM) à travers le présent dossier
                        sont exactes et vérifiables;
                        </span>
                    </label>
                </div>        
            </div>
        </div>
        
        <div class="mt-3">
            <div class="row">
                <div class="col-10 col-md-10">
                    <!-- [ngClass]="{ 'is-invalid': submitedForm && form.controls.prenom.errors }" -->
                    <label class="form-check" >
                        <input class="form-check-input" formControlName="accceptPriceInscription" matInput type="checkbox">
                        <span class="form-check-label">
                            Je certifie être bien informé(e) qu’en cas d’admission, je dois, pour confirmer mon admission, m’acquitter dans
                            un délai de 15 jours, des frais d’inscription au montant de FCFA 150.000, et dont le reçu de versement sera
                            déposé auprès du Service Financier et Comptable de l’UdM.
                        </span>
                    </label>
                </div>        
            </div>
        </div>
    </form>
    
    <div class="mt-4 row">
        <div class="col-3">
            <span  style="font-style: italic;text-decoration: underline;">Nom d'information</span>
        </div>
    </div>
    
    <div class="mt-3">
        <ul type="square">
            <li>
                Les versements se font dans toutes les agences de la Banque UBA.
    Numéro du compte : 10033-05203-03031000041-5 ; Nom du compte : AED-UdM
            </li>
        </ul>
    </div>
</form>