<mat-toolbar class="navbar-inverse" style="background-color: rgb(9, 37, 9);">
    <span>
        <img src="./../../../../assets/img/udm_logo.jpg" class="logo_udm" alt="" style="border-radius: 5px !important;">
    </span>
    <span class="navbar-brand">Concours d'entrée a l'Université de Montagnes</span>
    <span class="example-spacer"></span>
  
    <div >
        <ul class="nav">
            <li class="active"><a routerLink="/" style="color: white !important;">Accueil</a></li>
            <li class="active"><a href="http://www.udm.aed-cm.org/" style="color: white !important;">Site web</a></li>
            <li class="active"><a style="color: white !important;">Aide</a></li>
            <li class="active"><a style="color: white !important;">Contact</a></li>
        </ul> 
    </div>
  
  </mat-toolbar>