<footer class="footer">
  <div class="container-fluid">
    <div class="row text-muted">
      <div class="col-6 text-start">
        <p class="mb-0">
          <a href="#" class="text-muted">Copyright &copy; 2021<strong> UdM</strong></a> by <a class="text-muted" href="https://yaba-in.com"><strong> Yaba-In</strong></a>
        </p>
      </div>
      <div class="col-6 text-end">
        <ul class="list-inline">
          <li class="list-inline-item">
            <a class="text-muted" href="#"><i class="fa fa-phone"></i> +237 243 025 141 </a>
          </li>
          <li class="list-inline-item">
            <a class="text-muted" href="#"><i class="fa fa-envelope"></i> si@udm.aed-cm.org </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>