<main class="content">
    <div class="container-fluid p-0">
        <!-- <h1 class="h3 mb-3"><strong>Liste des dossiers regetés</strong></h1>
        <hr style="color: green;"> -->
        <div class="row">
            <div class="col-12 col-md-12 col-xxl-12 d-flex order-1 order-xxl-1">
                <div class="card flex-fill w-100">
                    <div class="card">
                        <div class="jumbotron">
                            <h1 style='font-size: 3.5em'>Inscription au concours d'entrée à l'<a
                                    href="http://udm.aed-cm.org/" style="text-decoration: none;"> <span
                                        class="zf-green">UdM</span></a></h1>
                            <div class="zf-green">
                                <h4>Prochaine session: Octobre 2021</h4>
                            </div><br><br>

                            <div class='row'>
                                <div class="col-md-8">
                                    <h2 style='color: grey;'>Soumettez votre dossier en trois étapes</h2>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <ol class="faq">
                                                <li>Création d'un numéro de dossier <a routerLink="/inscription">Cliquer
                                                        ici</a></li>
                                                <li>Paiement et validation des frais de concours</li>
                                                <li>Soumission du dossier de candidature</li>
                                            </ol>
                                        </div>
                                        <div class="col-md-6" style="color: #707aaa;">
                                            <br />
                                            En cas de problème bien vouloir nous contacter à l'adresse suivante:<br />
                                            Tel: 691144891 <br />
                                            Email: si@udm.aed-cm.org <br /> <br />
                                            <span style="color: red; font-weight: bold;">
                                                les candidats interessés par l'Examen National d'Aptitude à la Formation
                                                Médicale,
                                                Pharmaceutique et Odontostomatologique du Cameroun
                                                sont priés de bien vouloir <a
                                                    href="http://www.concours-medecine.uninet.cm/">cliquer
                                                    ici</a></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <form class="" method="POST" routerLink="/login">
                                        <h4 class="form-signin-heading">Connectez vous maintenant</h4>

                                        <div class="form-group">

                                            <button type="button" name="login-btn" id='login-btn'
                                                class="btn btn-primary btn-lg btn-block"
                                                routerLink="/login">Connexion</button>


                                        </div>
                                    </form>
                                    <p><span><a class="" routerLink="/inscription"> Cliquer ici pour créer un dossier de
                                                candidature</a></span></p>
                                </div>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-md-4">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Faculté des Sciences de la santé</h3>
                                    </div>
                                    <div class="panel-body">
                                        <ul>
                                            <li> Médecine Humaine</li>
                                            <li>Pharmacie</li>
                                            <li>Chirurgie Dentaire</li>
                                            <li>Médecine Vétérinaire</li>
                                            <li>Agronomie</li>
                                            <li>Biologie Médicale</li>
                                            <li>Agroforesterie</li>
                                            <li>Santé de la Reproduction</li>
                                            <li>Imagerie Médicale</li>
                                            <li>Kinésithérapie</li>
                                            <li>Sciences Infirmières</li>
                                        </ul>




                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Faculté des Sciences et de Technologies</h3>
                                    </div>
                                    <div class="panel-body">
                                        
                                        <ul>
                                            <li>Informatique, Réseaux et Télécommunications </li>
                                            <li>Mathématiques et Informatique Appliquées à la Finance/Assurance</li>
                                            <li>Ingénierie BioMédicale </li>
                                            <li>Energies Renouvelables et Génie Climatique </li>
                                            <li>Génie Mécanique</li>
                                            <li>Génie Civil </li>
                                            <li>Architecture et Urbanisme </li>
                                            <li>Architecture et Réalité Virtuelle </li>
                                        </ul>
                                        

                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Institut d’Etudes Africaines, des Sciences Sociales et
                                            de Management
                                        </h3>
                                    </div>
                                    <div class="panel-body">
                                        
                                        <ul>
                                            <li>Protection, Valorisation et Promotion du Patrimoine Culturel Africain
                                            </li>
                                            <li>Tourisme</li>
                                            <li>Management</li>

                                        </ul>
                                        

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>