<main class="content">
    <div class="container-fluid p-0">
        <!-- <h1 class="h3 mb-3"><strong>Liste des dossiers regetés</strong></h1>
        <hr style="color: green;"> -->
        <div class="row">
            <div class="col-10 col-md-1 col-xxl-1 d-flex order-1 order-xxl-1"></div>
            <div class="col-10 col-md-10 col-xxl-10 d-flex order-1 order-xxl-1" style="border-radius: 15px 15px 15px 15px !important;">
                <div class="card flex-fill w-100" style="border-radius: 15px 15px 15px 15px !important;">
                    <div class="card">
                        <div class="jumbotron">
                            <h1 style='font-size: 3.5em'>Inscription au concours d'entrée à l'<a
                                    href="http://udm.aed-cm.org/" style="text-decoration: none;"> <span
                                        class="zf-green">UdM</span></a></h1>
                            <div class="zf-green">
                                <h4><b style="font-family: arial; font-size: 1.4rem;"> Première session: Août 2021</b></h4>
                                <h4><b style="font-family: arial; font-size: 1.4rem;">Deuxième session: Septembre 2021</b></h4>
                            </div><br><br>

                            <div class='row'>
                                <div class="col-md-8">
                                    <h2 style='color: grey;'>Soumettez votre dossier en trois étapes</h2>
                                    <div class="row">
                                        <div class="col-md-6"  align="justify">
                                            <ol class="faq">
                                                <li>Paiement et validation des frais de concours</li>
                                                <li>Création d'un numéro de dossier <a routerLink="/inscription">Cliquer ici</a></li>
                                                <li>Soumission du dossier de candidature</li>
                                            </ol><br>
                                            <h3>Dépôt de dossiers physique</h3>
                                            <b>Yaoundé</b>   : Bureau de Liaison de l’UdM (Tsinga)  Tél : <i> 691 14 49 48 / 691 14 48 84</i> Secrétariat de la Clinique Bastos (Nkol Eton) Tél. : <i> 673 28 17 38 / 696 11 18 22 </i> <br><br>

                                            <b>Douala </b>     : Centre de Santé Panafricain (Bonanjo) Tél : <i> 699 41 10 31</i> <br><br>
                                            
                                            <b>Bangangté </b>: Secrétariat de l’UdM (Banekane)  Tél : <i> 243 02 51 41 / 691 14 49 03 </i><br><br>
                                            
                                            <b>Bafoussam </b>: Pharmacie du Secours (Tamdja)   Tél : <i> 675 14 62 65</i>
                                        </div>
                                        <div class="col-md-6" style="color: #707aaa;" align="justify">
                                            Téléchargez le communiqué de presse <a href="../../../../assets/pdf/Communiqué admission N234.pdf" style="color: green;"> ici. <img src="../../../../assets/img/pdf-icon_no_bg.png" class="img" alt="image" /></a> <br>
                                            <br />
                                            En cas de problème bien vouloir nous contacter à l'adresse suivante:<br />
                                            Tel: 698 002 688  <br />
                                            Email: si@udm.aed-cm.org <br /> <br />
                                            <span style="color: red; font-weight: bold;">
                                                Les candidats interessés par l'Examen National d'Aptitude à la Formation
                                                Médicale,
                                                Pharmaceutique et Odontostomatologique du Cameroun
                                                sont priés de bien vouloir <a
                                                    href="https://www.udesmontagnes.aed-cm.org/admission-sur-concours/" target="_black">cliquer
                                                    ici</a></span> 
                                                    
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-3">
                                    <h4 class="form-signin-heading">Vous souhaitez participer au concours? déposez votre
                                        dossier maintenant</h4>
                                    <div class="form-group">
                                        <button type="button" name="btn" id='login-btn'
                                            class="btn btn-primary btn-lg btn-block" routerLink="/inscription">Créer un
                                            dossier</button>
                                    </div>
                                    <hr>
                                    <h4 class="form-signin-heading">Vous avez déjà sousmis votre dossier? Connectez vous
                                        maintenant</h4>
                                    <div class="form-group">
                                        <button type="button" name="btn" id='login-btn'
                                            class="btn btn-primary btn-lg btn-block"
                                            routerLink="/login">Connexion</button>
                                    </div>
                                    <hr>
                                    <h4 class="form-signin-heading">Vous êtes ancien étudiant? Inscription en ligne</h4>
                                    <div class="form-group">
                                        <a href="http://udmacademy.aed-cm.org/"><button type="button" name="btn" id='login-btn'
                                            class="btn btn-primary btn-lg btn-block">Inscription</button></a>
                                    </div>
                                </div>
                            </div><br><br>
                            <hr style="color: green;">
                            <app-down-guest-welcome></app-down-guest-welcome>

                        </div>

                    </div>
                </div>
            </div>
            <div class="col-10 col-md-1 col-xxl-1 d-flex order-1 order-xxl-1"></div>
        </div>
    </div>
</main>