<ng-container>
    <label class="form-label">
        {{dataForm.label}}
        <span *ngIf="dataForm.required" style="color: red;">*</span>
    </label>
    <input matInput class="form-control form-control-lg" accept=".pdf,.doc,.docx,image/*"  (change)="fileUpload($event)" [ngClass]="{ 'is-invalid': submitedForm && formControl.errors }" [formControl]="formControl" type="file" />
    <div *ngIf="submitedForm && formControl.invalid"
        class="invalid-feedback text-danger">
        <div *ngIf="formControl.errors.required">{{dataForm.errorMessage}}</div>
    </div>
</ng-container>